/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body {
  background-color: gray;
}

img{
  display: block;
  margin: 5% auto;
  width: 1000px;
}

h1, h3, p {
  text-align: center;
}

p {
  margin: 5% 15%; 
}

section {
  text-align: center;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
